@import url('https://fonts.googleapis.com/css2?family=Poppins');

main {
  font-family: Poppins, sans-serif;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  main {
    grid-template-columns: auto;
  }
}